{{template "partials/header" .}}

<h1>{{.Title}}</h1>

<form action="/check" method="post">
  <div class="mb-3">
    <label class="form-label" for="inputUid">UID: </label>
    <input
      class="form-control"
      style="width: 300px"
      type="text"
      id="inputUid"
      name="uid"
      placeholder="208259"
      pattern="\d+"
      required
    />
  </div>
  <div class="mb-3">
    <div
      class="cf-turnstile"
      data-callback="onCaptchasDone"
      data-sitekey="{{ .SiteKey }}"
    ></div>
  </div>
  <div class="mb-3">
    <button class="btn btn-primary" id="btnSubmit" type="submit" disabled>
      查询
    </button>
  </div>
</form>
<script>
  const inputUid = document.querySelector("#inputUid");

  inputUid.addEventListener("input", () => {
    inputUid.setCustomValidity("");
    inputUid.checkValidity();
  });

  inputUid.addEventListener("invalid", () => {
    if (inputUid.value === "") {
      inputUid.setCustomValidity("请输入用户 UID");
    } else {
      inputUid.setCustomValidity("格式错误");
    }
  });

  function onCaptchasDone(token) {
    document.querySelector("#btnSubmit").disabled = false;
  }
</script>
<script
  src="https://challenges.cloudflare.com/turnstile/v0/api.js"
  async
  defer
></script>

{{template "partials/footer" .}}
