{{template "partials/header" .}}

<h1>{{.Title}}</h1>

{{ if .Message }}
<div class="alert alert-primary" role="alert">
    {{ .Message }}
</div>
{{ end }}

<form action="/report" method="post" enctype="multipart/form-data">
    <p>
        <label for="file">截图证据: </label>
        <input type="file" id="file" name="file" accept="image/jpeg,image/png,video/mp4" required>
    </p>
    <p>
        <label for="uid">UID: </label>
        <input type="text" id="inputUid" name="uid" placeholder="208259" pattern="\d+" required>
    </p>
    <p>
        <label for="description">描述: </label>
        <textarea id="description" name="description" placeholder="描述" required></textarea>
    </p>
    <p>
        <input type="submit" value="Submit">
    </p>
</form>

<script>
    const inputUid = document.querySelector('#inputUid');

    inputUid.addEventListener('input', () => {
        inputUid.setCustomValidity('');
        inputUid.checkValidity();
    });

    inputUid.addEventListener('invalid', () => {
        if (inputUid.value === '') {
            inputUid.setCustomValidity('请输入用户 UID');
        } else {
            inputUid.setCustomValidity('格式错误');
        }
    });
</script>

{{template "partials/footer" .}}